.logout {
    display: flex!important;
    flex-direction: row!important;
}

.logoutButton {
    margin-left: 82em;
}

@media only screen and (max-width: 600px) {
    .logoutButton {
        margin-left: 7em;
    }
}