.home {
    display: flex;
    margin-left: auto;
    margin-right: 80px;
    margin-top: 50px;
    width: 80%;
    color: #FFC107;
    justify-content: center;
}

.home2 {
    display: flex;
    margin-left: auto;
    margin-right: 80px;
    width: 80%;
    justify-content: center;
}

.tag {
    display: flex;
    color: #E76f51;
}

@media only screen and (max-width: 600px) {
    .home {
        display: flex;
        margin-left: auto;
        margin-right: 80px;
        margin-top: 60px;
        width: 54%;
        color: #FFC107;
        justify-content: center;
    }
    .home2 {
        display: flex;
        margin-left: auto;
        margin-right: 80px;
        width: 60%;
        justify-content: center;
    }
}